    #container { display: flex; height: 100%; width: 100%; font-family: "Prompt", sans-serif; }
    #map { height: 100%; width: 60%; flex: 1; font-family: "Prompt", sans-serif; }
    #sidebar { height: 80%; width: 40%; overflow-y: auto; padding: 10px; font-family: "Prompt", sans-serif; }
    .custom-tooltip {
        font-size: 10px;
        background-color: transparent;
        border: none; 
        padding: 2px 4px;
        text-align: center;
        color: white; 
        line-height: 0.9;
    }   

    .attribute-table {
        width: 100%;
        font-family: "Prompt", sans-serif;
        border-collapse: collapse;
        margin: 0;
        border-radius: 10px;
        border: 1px solid #000;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .attribute-table th, .attribute-table td {
        padding: 12px 15px;
    }

    .attribute-table th{
        width: 70%;
    }

    .attribute-table td {
        border: 1px solid #ccc;
        width: 30%;
        text-align: left;
        vertical-align: top;
    }

    #message {
        text-align: center;
        margin: 20px 0;
        font-size: 16px;
        color: #555;
    }

    .attribute-table td .wrap-box {
        position: relative;
        width: 100%;
        border: 1px solid #ccc;
        padding: 5px;
        margin-bottom: 5px;
        box-sizing: border-box;
    }

    .attribute-table td .wrap-box input {
        width: calc(100% - 30px);
        border: none;
        outline: none;
        background: transparent;
    }

    .attribute-table td .wrap-box button {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        height: 100%;
        border: none;
        background: #007bff;
        color: #fff;
        cursor: pointer;
    }

    .attribute-table td .wrap-box button:hover {
        background: #0056b3;
    }

    .wrap-box {
        position: relative;
        display: inline-flex;
        align-items: center;
    }

    .copy-icon {
        display: none;
        border: 1px solid #ccc;
        padding: 3px 8px;
        cursor: not-allowed;
        margin-left: 5px;
    }

    .search-container {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    #searchInput {
        width: 80%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px 0 0 4px;
        outline: none;
        font-family: "Prompt", sans-serif;
        font-size: 16px;
    }

    #searchInput:focus {
        border-color: #007bff;
    }

    #geolocationInput {
        width: 80%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px 0 0 4px;
        outline: none;
        font-family: "Prompt", sans-serif;
        font-size: 16px;
    }

    #geolocationInput:focus {
        border-color: #007bff;
    }

    .search-container button {
        width: 20%;
        padding: 10px;
        border: none;
        border-radius: 0 4px 4px 0;
        background-color: #007bff;
        color: white;
        cursor: pointer;
        font-family: "Prompt", sans-serif;
        font-size: 16px;
    }

    .search-container button:hover {
        background-color: #0056b3;
    }

    #suggestions {
        position: absolute;
        top: 100%;
        left: 0;
        width: 80%;
        border: 1px solid #ccc;
        background-color: #fff;
        max-height: 150px;
        overflow-y: auto;
        z-index: 1000;
        border-radius: 0 0 4px 4px;
        display: none;
    }

    #suggestions div {
        padding: 10px;
        cursor: pointer;
        font-family: "Prompt", sans-serif;
    }

    #suggestions div:hover {
        background-color: #f0f0f0;
    }

    .map-alert-popup {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 0, 0, 0.8);
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        z-index: 1000;
        font-family: Arial, sans-serif;
        font-size: 16px;
        text-align: center;
        display: none;
    }

    .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 8px solid #f3f3f3;
        border-top: 8px solid #3498db;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }

    #map {
        visibility: hidden;
    }

    .custom-tooltip-2 {
        font-size: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        border: none; 
        padding: 2px 4px;
        text-align: center;
        color: white; 
        line-height: 0.9;
    }

    .copy-button {
    margin-left: 10px;
    padding: 3px 6px;
    font-size: 0.9em;
    cursor: pointer;
    }
